<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="jssRouteTemplateId" value="{B36BA9FD-0DC0-49C8-BEA2-E55D70E6AF28}" />
		</settings>
		<pipelines>
			<initialize>
				<processor type="Sitecore.Hacathon2023.SC.MVCToJSS.Migrator.Pipelines.Routes, Sitecore.Hacathon2023.SC.MVCToJSS.Migrator" 
						   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
			</initialize>
		</pipelines>
	</sitecore>
</configuration>
